

{{#if loggedIn}}
<div class="card text-center d-flex justify-content-center mx-auto m-5 w-50">
  <h2 class="card-header">
    {{recipe.title}}
  </h2>
  <h5 class="username mt-3 card-title">By: @{{recipe.user.username}}</h5>
  <div class="card-body d-flex flex-column align-items-start">
    {{#if recipe.image}}
    <img src="{{recipe.image}}" alt="Picture of food" class="card-img-top" />
  {{else}}
    <img
      src="https://cdn.pixabay.com/photo/2017/06/06/22/37/italian-cuisine-2378729_1280.jpg"
      alt="No image available"
      class="card-img-top"
      recipe_id={{id}}
    />
    {{/if}}
    <ul class="card-text">
      <h3 class="text-left mt-4">Ingredients:</h3>
      {{#each ingredients as |ingredient|}}
       <li class="text-left">{{ingredient}}</li>
      {{/each}}<!-- dynamically create list items here from array -->
    </ul>
    <ol class="card-text">
      <h3 class="text-left">Steps:</h3>
      {{#each steps as |step|}}
        <li class="text-left">{{step}}</li>
      {{/each}}<!-- dynamically create list items here from other array -->
    </ol>
    <img
      src="https://cdn.pixabay.com/photo/2017/11/07/20/16/kiss-2928081_960_720.png" class = "btn img-responsive mt-auto ml-auto" id="kissBtn"
    ></img>
  </div>
  <div class="card-footer text-muted">
  </div>
  <button class="delete btn text-light bg-custom-2 m-3 hidden">Delete my recipe</button>
</div>

<script src="/js/render-delete-btn.js"></script>
<script src="/js/delete-recipe.js"></script>
{{else}}
<a class="text-center m-4" href="/">You must login first to view this page.</a>
{{/if}}