<aside class="col-xl-2 col-lg-3 col-md-4 col-5 bg-dark h-100 text-white">
  <ul class="nav flex-column">
    <li class="nav-item mx-auto m-3">
      <button type="button" class="btn btn-light btn-lg" id="allBtn">
        All Recipes
      </button>
    </li>
    <li class="nav-item mx-auto m-3">
      <button type="button" class="btn btn-light btn-lg" id="myBtn">
        My Recipes
      </button>
    </li>
    <li class="nav-item mx-auto m-3">
      <button type="button" class="btn btn-light btn-lg" id="surpriseBtn">
        Surprise Me!
      </button>
    </li>
    <li class="nav-item mx-auto m-3">
      <button type="button" class="btn btn-light btn-lg" id="addBtn">
        Add a Recipe
      </button>
    </li>
    <li class="nav-item mx-auto m-3">
      <button type="button" id="logout" class="btn btn-light btn-lg">
        Log Out
      </button>
    </li>
  </ul>
</aside>

<div class="card text-center d-flex justify-content-center mx-auto m-5 w-50">
  <h2 class="card-header">
    {{recipe.title}}
  </h2>
  <h5 class="card-title">By: @{{recipe.user.username}}</h5>
  <div class="card-body d-flex flex-column align-items-start">
    <img src="{{recipe.image}}" alt="Picture of food" class="card-img-top" />

    <ul class="card-text">Ingredients:
      {{#each recipe.ingredients as |ingredient|}}
        <li>{{ingredient}}</li>
      {{/each}}<!-- dynamically create list items here from array -->
    </ul>
    <ol class="card-text">Steps:
      {{#each recipe.recipe_steps as |step|}}
        <li>{{step}}</li>
      {{/each}}<!-- dynamically create list items here from other array -->
    </ol>
    <a href="#" class="btn btn-dark mt-auto ml-auto" id="like-button">Like</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<script src="/menu-buttons.js"></script>